.header{
  background: #dff9c1;
  margin: 10px;
  border: 2px solid black;
}
.nav{
  background: #3fff81;
  margin: 10px;
  border: 2px solid black;
  height: 50px;
  padding: 0px;
}
.button{
  background: lime;
  border:none;
  margin: 0px;
  border-right: solid;
  height: 100%;
  transition-duration: 0.4s;
  float: left;
}
p{
  margin: 20px;
  color: black;
}
a{
  text-decoration: none;
  background: #b3d2a0;
  border:none;
  margin: 0px;
  height: 100%;
  transition-duration: 0.4s;
}
a.left{
  border-right: solid black;
  float: left;
}
a.right{
  border-left: solid black;
  float: right;
}
a:hover{

  background-color: #9fd255;
}
a:active{
  background-color: white;
}
.active{
  background-color: #dff9c1;
}
.message{
  background-color: #9fd255;
  width: 25%;
  border: 2px solid black;
  float: left;
}
.board{
  background-color: #b3d2a0;
  width: 75%;
  border: 2px solid black;
  float: right;
}
.content{
  display: flex;
  margin: 10px;
  background-color: #dff9c1;
  border: solid black;
}
input{

}
